
* {
    margin: 0;
    padding: 0;
    
  }
 .cal{
    height: 100vh;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
 }

#calculator{
    border: 5px solid rgb(19, 17, 17);
    width: 200px;
    border-radius: 5px;
    background-color: azure; 
    
}

#display{
    margin: 10px;
    width: 86%;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 25px;
    background-color: rgb(225, 236, 158);
    text-align: right;
    
}

.buttonContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    
}
.button{
    width: 45px;
    height: 45px;
    margin: 10px;
    border-radius: 50%;
    text-decoration-color: aqua;

}